
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background-color:#fbe9e7;" class="rounded p-2 text-center mt-5">
    <i class="fas fa-times text-danger"></i>
    <span class=" font-weight-bold text-danger" key="error">@ViewBag.Message</span>

</div>
